.shell
    // Article
    .article
        h2 Some words about me
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a urna sit amet leo sagittis cursus a at lectus. Donec
            a(href='#') bibendum facilisis ultricies. Maecenas nec arcu dui, ut lobortis erat. In nec condimentum quam. Vivamus euismod scelerisque ligula vitae fermentum. Nulla dignissim rutrum eleifend
            p Donec mi eros, congue ut consectetur eget, pretium vitae orci. Aliquam pharetra ultricies lobortis. Morbi eget nisi lectus. Maecenas felis augue, molestie in vestibulum et, lacinia et leo. Suspendisse potenti. Maecenas eget est augue. Donec tincidunt mollis fermentum.
    // End article
    .gallery
        .cl &nbsp;
    h2(class='left') What i do?
    a(href='#', class='view-all') View all works
    .cl &nbsp;
    .portfolio-item
        a(href='#')
            img(src='/stylesheets/images/port-1.gif', alt='')
    .cl &nbsp;
