doctype
html
    head
        // title page
        title= title

        // meta content
        meta(http-equiv="Content-type", content="text/html; charset=utf-8")
        meta(charset="utf-8")

        // css include
        link(rel='stylesheet', href='/stylesheets/style.css', media='all')
        link(rel='stylesheet', href='/stylesheets/ie6.css', media='all')
        link(rel='stylesheet', href='/stylesheets/main.css')

        // script include
        script(type="text/javascript", src="/javascripts/jquery-1.2.3.pack.js")
        script(type="text/javascript", src="/javascripts/jquery.jcarousel.pack.js")
        script(type="text/javascript", src="/javascripts/main.js")

    body

        #header
            .shell
                .cl &nbsp;

                // Logo
                #logo-cnt
                    h1(id="logo") Personal Site Name
                    h2(id="slogan") yourname personal portflio

                #status
                    p(class="available") I am currently
                        strong() available

                div(class="cl") &nbsp;

                // End logo

                // Carousel

                #slider
                    ul(id='mycarousel')
                        li
                            .img-cnt
                                a(href="#")
                                    img(src="/stylesheets/images/portfolio-item-3.gif")
                // End carousel

        #main
            != body

        .cl &nbsp;

        .shell
            .article
                h2 Contact me?
                form(action="")
                    .cl &nbsp;
                    .column-cnt
                        .cl &nbsp;
                        .column
                            label(for='your-name') Your name?
                            span(class='text-field')
                                input(type='text', id='your-name', value='')
                        .column
                            label(for='your-email') Your email?
                            span(class='text-field')
                                input(type='text', id='your-email', value='')
                        .cl &nbsp;
                        p Donec mi eros, congue ut consectetur eget, pretium vitae orci. Aliquam pharetra ultricies lobortis. Morbi eget nisi lectus. Maecenas felis augue, molestie in vestibulum et, lacinia et leo. Suspendisse potenti. Maecenas eget est augue. Donec tincidunt mollis fermentum.
                    .column-big
                        label(for="your-message") Your Message
                        span(class='text-area')
                            textarea(id='your-message', rows="", cols='')
                        a(href='#') Send the message
                    .cl &nbsp;

        .cl $nbsp;

        #footer
            // contacts

            p &copy; Sitename.com. Design by
                a(href='http://chocotemplates.com') ChocoTemplates.com